# Save exact versions in package.json
save-exact=true

# Automatically install peer dependencies
auto-install-peers=true

# Increase network timeout
network-timeout=300000

# Strict SSL
strict-ssl=true
