NEXT_PUBLIC_API_URL= "novalibros-backend-production.up.railway.app"
DATABASE_URL="postgresql://postgres.kxfwpoxlymhayrvtkdhz:H6EFkzXNY43cS*F@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.kxfwpoxlymhayrvtkdhz:H6EFkzXNY43cS*F@aws-0-us-west-2.pooler.supabase.com:5432/postgres"

PORT=3012

JWT_SECRET="sd4dfBVF21ASDlkdVtOa"

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=682699ce20dd36
MAIL_PASS=0591b4e1967a25
MAIL_FROM=test@gmail.com